---
import Layout from "../layouts/Layout.astro";
import '../styles/lightbox.css'
const posts = Object.values(await import.meta.glob('./resources/*.md', {eager: true}));
---
<Layout>
    <div class="list-container">
        <ul class="post-grid">
            {posts.map((post: any) => (
                <li class="post">
                        <div class="thumbnail-wrapper">
                            <a href={post.frontmatter.thumbnail} data-lightbox={post.frontmatter.title}>
                                <img src={post.frontmatter.thumbnail} alt=""  />    
                            </a> 
                            
                            <div class="overlay-pdf">
                                <div class="text-content">
                                    <h4 class="title">{post.frontmatter.title}</h4>
                                </div>
                                <a href={`${post.frontmatter.file}`} class="border-flip border-flip--black btn" style="margin-right: 10px;">View</a>
                                <a href={`${post.frontmatter.file}`} download class="border-flip border-flip--black btn">Download</a>
                            </div>
                        </div>
                        
                    </a>
                </li>
            ))}
        </ul>
    </div>
</Layout>

<script is:inline src="/js/lightbox-plus-jquery.js"></script>

<script is:inline>
    import lightboxPlusJquery from "../js/lightbox-plus-jquery";

    lightboxPlusJquery.option({
        'resizeDuration': 200,
        'wrapAround': 200,
        'positionFromTop': 20
    })
</script>

<style>
    
    * {
        box-sizing: border-box;
    }

    .list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .post-grid {
        max-width: 600px;
        margin: 2.5vh auto;
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        gap: 1em;
        justify-content: center;
    }

    .post {
        list-style: none;
        overflow: hidden;
        transition: transform ease-in-out 0.3s;
        padding-bottom: 20px;
    }

    .post:hover {
    }

    .post img {
        width: 100%;
        height: auto;
        max-width: auto;
        max-height: 250px;
        object-position: top;
        object-fit: cover;
        outline: 1px solid;
        border-radius: 5px;
    }

    .post h4 {
        margin: 0;
        padding-bottom: 5px;
    }

    a {
        text-align: center;
    }

    .btn-wrapper {
      display: flex;
      justify-content: center;
    }
  

    
</style>


